<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <style>
      h1 {
        color: blue;
      }
    </style> -->
    <link rel="stylesheet" href="/public/assets/styles.css" type="text/css" />
  </head>
  <body>
    <h1><%= myPageTitle%></h1>
    <ul>
      <% pokemon.forEach(item => {%>
      <li>
        <p><%= item.name %></p>
        <img src="<%= item.img %>.jpg " alt="" />
      </li>
      <% }) %>
    </ul>
  </body>
</html>
