<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pokemon</title>
    <link rel="stylesheet" href="/public/assets/styles.css" type="text/css" />
  </head>
  <body>
    <% if (errMsg !==""){ %>
    <div class="error">
      <p>You have an error: <%= errMsg %></p>
    </div>
    <% } else { %>
    <h1>Gotta Catch 'Em All</h1>
    <h2><%= pokemonData.name %></h2>
    <img src="<%= pokemonData.img %>.jpg " />
    <a href="<%= back %>">Back</a>
    <% } %>
  </body>
</html>
